body {background-color:lightblue;
     font-family: serif;}
     h1{font-size:24px;
        text-transform: uppercase;
        color:rgb(82, 5, 5);}
     p{color: rgb(26, 3, 53);}
     a{text-decoration:none;}

    
